version: '3.8'

services:
  catalog-service:
    container_name: catalog-service
    build: ./CatalogService
    ports:
    - "5002:5002"
    volumes:
    - type: bind
      source: ./CatalogService
      target: /CatalogService
  
  order-service:
    container_name: order-service
    build: 
      context: ./OrderService
      dockerfile: deployments/Dockerfile
    ports:
    - "5007:5007"

  front-end-service:
    container_name: front-end-service
    build: 
      context: ./FrontendService
      dockerfile: deployments/Dockerfile
    ports:
      - "5004:5004"